* {
    margin: 0px auto;
}

body {
    background-color: beige;
}

.nav {
    background-color: rgb(43, 175, 142);
    padding: 10px;
    height: 60px;
}

.nav img {
    width: 20%;
    height: 20%;
    border-radius: 100%;
    border: 2px solid black;
}

.nav .nav__img {
    width: 20%;
    position: absolute;
    left: 5px;
    top: 5px;
}

.nav .nav__titulo {
    width: 20%;
    left: 40%;
    line-height: 55px;
    text-align: center;
    position: absolute;
}

.nav .nav_menu {
    right: 10px;
    position: absolute;
    text-align: right;
    margin-top: 20px;
}

ul li {
    display: inline;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.contacto {
    color: black;
    font-size: 42px;
    font-weight: normal;
    text-align: center;
}

.forma {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
}

.caja {
    text-align: center;
    height: 20px;
    border-color: antiquewhite;
    border-width: 1px;
    box-shadow: 1px 1px 5px gray;
}

.text {
    text-align: center;
    height: 100px;
    border-color: antiquewhite;
    border-width: 1px;
    box-shadow: 1px 1px 5px gray;
}