* {
    margin: 0px auto;
}

body {
    background-color: #f1f1f1;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(43, 175, 142);
    padding: 10px;
    gap: 10px;
    align-items: center;
}

.grid-img {
    border-radius: 5px;
    float: left;
    width: 50px;
    height: 50px;
    display: flex;
}

.grid-container1 .grid-titulo {
    border-radius: 5px;
    float: left;

}

.grid-container1 .grid-menu {
    border-radius: 5px;
    float: left;
}

ul li {
    display: inline;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.Somos {
    padding-bottom: 20px;
}

.Somoss {
    font-style: normal;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.Nuestro {
    padding: 30px;
}

p {
    text-align: center;
    /* font-family: 'Oleo Script Swash Caps', cursive; */
    font-size: 22px;
}

.row1 {
    text-align: center;
    background-color: rgb(43, 175, 142);
    margin-top: 100px;

}

.row1 .column {
    background-color: rgb(43, 175, 142);
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    padding: 10px;
    justify-content: left;
    overflow-x: scroll;
}

.column {
    flex: 25%;
}

.Somos1 {
    font-style: normal;
    font-size: 40px;
    text-align: center;
    background-color: rgb(43, 175, 142);
}

.visitanos {
    font-style: normal;
    font-size: 40px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #198754;
    padding: 10px;
    gap: 10px;
    align-items: center;

}

.grid-container .grid-item1 .imagen {
    border-radius: 5px;
    float: left;
    width: 100px;
}

.image-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding-top: 5px;
    overflow: hidden;
}

.image-thumb2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding-top: 5px;
    overflow: hidden;
}

.image-thumb2 img {
    max-width: 100%;
    max-height: 100%;
}

.image-thumb img {
    width: 100%
}

.grid-imagen {
    display: flex;
    overflow-x: hidden;
}

.grid-imagen img {
    width: 100%;

}

.item-header {
    background-color: rgb(43, 175, 142);
    grid-area: header;
}

.menu li a:hover {
    color: beige;
    transition: 500ms all;
}

.menu li a {
    transition: 500ms all;
}

.colorServicios {
    color: black;
    font-size: 42px;
    font-weight: normal;
    text-align: center;
}

.pe {
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 25px;
}

.container1 {
    background-color: bisque;
    margin: 0 auto;
    width: 800px;
    padding: 100px;
}

.colum {
    padding-top: 20px;
    column-count: 2;
    text-align: center;
    column-gap: 50px;
    font-size: 20px;
}

.cont {
    font-style: normal;
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
}

.modelo1 {
    width: 90%;
    height: 200px;
    padding: 20px;
    font-size: 15px;
    line-height: 1.5;
    background-color: #fcdcdb;
    text-align: center;
    
}

.modeloDescripcion {
    text-align: left;

}

.modelo1 img {
    border-radius: 5px;
    float: left;
    width: 310px;
    text-align: center;
    margin-right: 10px;
}

.modelo2 {
    width: 90%;
    height: 200px;
    padding: 20px;
    font-size: 15px;
    line-height: 1.5;
    background-color: #fbbdbc;
    text-align: center;
}

.modelo2 img {
    border-radius: 5px;
    float: left;
    width: 310px;
    margin-right: 10px;
}

.item-header {
    background-color: rgb(43, 175, 142);
    grid-area: header;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #198754;
    padding: 10px;
    gap: 10px;
    align-items: center;
}

.grid-container1 .grid-img {
    border-radius: 5px;
    float: left;
    width: 50px;
    height: 50px;
    display: flex;

}

.grid-container1 .grid-titulo {
    border-radius: 5px;
    float: left;

}

.grid-container1 .grid-menu {
    border-radius: 5px;
    float: left;
}

.grid-imagen {
    display: flex;
    overflow-x: hidden;
}

.grid-imagen img {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #198754;
    padding: 10px;
    gap: 10px;
    align-items: center;

}

.grid-container .grid-item1 .imagen {
    border-radius: 5px;
    float: left;
    width: 100px;
}

.grid-item {
    display: grid;
}