.container3 {
    padding: 50px;

    .product_container2:hover {
        border: 1px solid gray;
        transition: 300ms all;
        border-radius: 5%;
        padding: 0px;
    }

    .product_container2 {
        transition: 300ms all;
        align-items: center;
        text-align: center;
        max-height: 300px;
        padding: 5px;
    }

    .image-thumb4 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        padding-top: 5px;
        overflow: hidden;
        margin-bottom: 5px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }


    .name {
        text-align: center;
        font-size: 15px;
    }
}

.boton {
    display: inline;
    width: 100%;
    padding: 10px 10px;
    border-radius: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
}

a.btn-verde {
    @extend .boton;
    background-color: #fbbdbc;
    color: white;
    transition: 100ms;
}

a.btn-verde:hover {
    color: gray;
    background-color: #fcd0cf;
    transition: 100ms;
}

$colores: (
    base: #fbbdbc,
    principal: #fcdcdb,
    fondo: hwb(0 50% 50%)
);

@each $nombre,
$valor in $colores {
    .titulo-#{$nombre} {
        background-color: $valor
    }
}

.productos {
    max-height: 450px;
    width: 290px;
    transition: 250ms;
    border-radius: 2px;
    margin-top: 10px;

    .image-thumb {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        padding-top: 5px;
        overflow: hidden;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

}

.formulario {
    width: 40%;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #FFFFE0;
    border-radius: 5px;

    input {
        width: 100%;
        margin-bottom: 10px;

    }
}

@media only screen and (max-width:768px) {
    .formulario {
        width: 70%;
        margin: auto;
        padding: 10px 20px;
        box-sizing: border-box;
        background-color: #FFFFE0;
        border-radius: 5px;

        input {
            width: 100%;
            margin-bottom: 10px;

        }
    }
}

.vete {
    padding: 30px;
    text-align: center;
}

.titulo-base {
    text-align: center;
    padding: 5px;
    margin-top: 30px;
}

.pepe {
    width: 95%;
    margin: 0px auto;
    padding: 15px
}

.Somoss {
    font-style: normal;
    font-size: 50px;
    text-align: center;
    padding: 20px;
}


.grid-item {
    display: grid;
}

.mapa {
    padding: 70px;
}

.image-thumb3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding-top: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}

.product_container:hover {
    border: 1px solid hwb(0 50% 50%);
    transition: 300ms all;
    border-radius: 5%;
    padding: 0px;
}

.product_container {
    transition: 300ms all;
    align-items: center;
    text-align: center;
    max-height: 300px;
    padding: 5px;
}

.visitanos {
    font-style: normal;
    font-size: 40px;
    text-align: center;
}

a.menu {
    transition: 120ms;
}

a.menu:hover {
    background-color: #fbbdbc;
    transition: 120ms;

}

.grid-imagen1 {
    display: flex;
    overflow-x: hidden;

    img {
        width: 60%;
    }

}

@media screen and (max-width:768px) {
    .texto {
         font-size: 17px;
    }
}